body {
  font-family: Palatino;
}


h1 {
  margin: 40px, 20px;
  padding-right: 40px;
}

#reading-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  /* justify-content: center; */
}

li{
  margin: 20px;
  padding: 20px;
  background-color: dodgerblue;
  
  border-radius: 3px;
  z-index: -1;
  color: black;
  list-style: none;
}

p {
  color: black;

}